body {
	background: rgba(226,226,226,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.header {
	background: black;
	height: 100%;
}


.headerImage img{
	width: 100%;
	height: 100%;
}

.headerInfo {
	background: black;
	color:white;
	position: relative;
	margin:5%;
}

.headerInfo p{
	font-size: 20px;
	/*padding: 20px 0;*/
	overflow: auto;
	/*position: absolute;
	top:50%;*/

}
.author {
	font-weight: bold;
}

.top-buffer{
	margin-top:20px;
}

form {
	width: 80%;
	font-size: 18px;
	padding:10px 0;
}
.agenda {
	max-height: 300px;
	overflow: scroll;
}

.total-time {
	text-align: center;
	color: whitesmoke;
	font-size: 30px;
	border-radius: 50%;
	padding: 20px 0;
}
.total-time p {
	display: inline;
}

.familyTime {
	background: rgba(35, 190, 35, 0.96);
}

.restTime {
 background: blue;
}

.personalTime {
background: rgb(0, 197, 255);

}

.workTime {
background: rgb(94, 51, 51);
}

svg  {
/*	background: red;
*/}
.event {
	background: blue;
	/*text-align: center;*/
	border-radius: 25px;
	margin:5px auto;
}
.event p {
	display: inline-block;
	font-size: 20px;
	padding: 15px 45px 0;
	/*border-radius: ;*/
	color: white;
	text-align: right;

}

.event:first-of-type {
	font-weight: bold;
}